// Colors 

$main-color: #095896;
$secondary-color: #FF731D;
$gray-color: #4B4B4B;

//Padding
$padding-top: 120px;
$padding-top-sm: 48px;
$padding-top-start: 64px;
$padding-top-start-sm: 40px;

//FontSize
$font-size-xl: 40px;
$font-size-lg: 22px;
$font-size-md: 18px;
$font-size-sm: 16px;
$font-size-xs: 14px;

//FontWeight
$font-weight-xl:700;
$font-weight-lg:600;
$font-weight-md:400;



