<section class="our-services">
  <div class="container" *ngIf="services$ | async as services">
    <!--flex-row-reverse-->
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="section-content mt-3">
          <div class="section-title">
            <span>Our Services </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngFor="let service of services; index as i" [class]="(i%2 === 0)?'':'flex-row-reverse'">
      <div class="col-md-6 col-12">
        <div class="section-content mt-3">

          <div class="section-heading mt-5">
            <h2 class="">{{service.name}}</h2>
          </div>
          <p>
            {{service.description}}
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12 image-content">
        <div [class]="(i%2 === 0)?'bg-right':'bg-left'"></div>
        <div class="swap">
          <img src="{{service.imageUrl1}}" />
          <img src="{{service.imageUrl2}}" />
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Start Portfolio-->
<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-content">
          <div class="section-title">
            <span>Our Portfolio</span>
          </div>
          <div class="section-heading">
            <h2 class="">Our recent projects</h2>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="carousel-content" *ngIf="projects$ |async as projects">
          <owl-carousel-o [options]="portfolioOptions">
            <ng-template carouselSlide *ngFor="let project of projects , index as i">
              <a class="card p-md-5" href="{{project.projectUrl}}" target="_blank">

                <iframe #TheIframe [src]="project.projectUrl |sanitizeUrl" height="360" width="100%" title="Iframe Example"
                  scrolling="no"></iframe>
              </a>
            </ng-template>
         
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start How It Work -->
<section class="works">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-content">
          <div class="section-title">
            <span>How it works</span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="work-container position-relative">
          <div [@fadeInAnimation]="{ value: true, params: { delay: 500 } }"
            class="content-1 content d-flex justify-content-center align-items-center position-relative">
            <p class="ms-5 m-0">Select a service</p>
            <div class="number-content position-absolute top-0 start-0 h-100">
              <h2 class="w-100 h-100 d-flex align-items-center justify-content-center border-2">
                1
              </h2>
            </div>
            <div class="arrow">
              <img class="d-none d-sm-block" src="../../assets/illustrations/arrow.png" />
              <img class="d-block d-sm-none" src="../../assets/illustrations/small-arrow.png" />
            </div>
          </div>
          <div [@fadeInAnimation]="{ value: true, params: { delay: 1000 } }"
            class="content-2 content d-flex justify-content-center align-items-center position-relative">
            <p class="ms-5 m-0">Book an apportment</p>
            <div class="number-content position-absolute top-0 start-0 h-100">
              <h2 class="w-100 h-100 d-flex align-items-center justify-content-center border-2">
                2
              </h2>
            </div>
            <div class="arrow">
              <img class="d-none d-sm-block" src="../../assets/illustrations/arrow.png" />
              <img class="d-block d-sm-none" src="../../assets/illustrations/small-arrow.png" />
            </div>
          </div>
          <div [@fadeInAnimation]="{ value: true, params: { delay: 1500 } }"
            class="content-3 content d-flex justify-content-center align-items-center position-relative">
            <p class="ms-5 m-0">Track your growth</p>
            <div class="number-content position-absolute top-0 start-0 h-100">
              <h2 class="w-100 h-100 d-flex align-items-center justify-content-center border-2">
                3
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>